.image{

	&--middle{
		aspect-ratio: 495 / 319; 
    background-size: cover;
    background-position: center;

	}

	&__partners{
		max-width: 90%;
		max-height: 80%;
		height: 30px;
		object-fit: contain;
	}
	
}